  <section class="info">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2> About Me</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                 </div>
      <div class="well">
          <p>Weizhen Yan, am a software developer and web designer living in Melbourne, Florida. I have a Master degree in Computer Science
          from Florida Institute of Technology. Currently I'm actively looking for an entry level full time job as software developer or web developer. 
          
          </p>
      </div>
            </div>
        </div>
 </section>

